@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.about {
  position: relative;
  /* margin-top: 100px; */
  font-family: "Open Sans", sans-serif;
  color: rgba(33,33,33);
}
