@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

#footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 100vw;
  bottom: 0;
  background-color: #B7A196;
  font-family: "Work Sans", sans-serif;
  color: white;
}

.text-container {
  position: relative;
  display: block;
  justify-content: center;
}

.text-container p, .links {
  font-size: 2rem;
}

.footnote {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
}


