@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(50,50,50);
}

@media only screen and (min-width: 992px) {
  .form {
    margin-top: 100px;
  }

  .field::before {
    /* content: "four wide " */
  }
}

@media only screen and (max-width: 600px) {
  .form {
    margin-top: 55px;
  }

  .form-wrapper {
    /* width: 100vw;
    height: 60vh; */
  }
}

.form .four.wide.field label {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.form h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  padding: 20px;
}



