@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 150px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
