@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.home {
  /* background-image:
  linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,0)
    ),
    url("../images/home.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.home p {
  font-weight: bold;
  color: rgba(50,50,50);
  white-space: pre-line;
  animation-duration: 2s;
  animation-name: bounceIn;
}

/* laptops */
@media only screen and (min-width: 992px) {
  .home p {
    font-size: 8rem;
    line-height: 85px;
  }
}

/* ipads */
@media only screen and (max-width: 992px) {
  .home p {
    font-size: 6rem;
  }
}

/* phones, mini ipads */
@media only screen and (max-width: 768px) {
  .home p {
    font-size: 4.5rem;
  }
}

.home span:first-of-type {
  color: rgba(133,207,218);
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

