@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.navbar {
  position: fixed;
  height: 7vh;
  width: 100vw;
  top: 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 150px);
  background-color: white;
  padding: 0.8em 0.8em 0.8em 0.8em;
  z-index: 1;
}

.navlink {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: rgba(50,50,50);
}

.navlink:hover {
  color: rgba(133,207,218)
}

.active {
  color: rgba(133,207,218)
}

