@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 25vw);
  background-color: white;
  padding: 0.5rem;
  z-index: 1;
  display: none;
}

@media only screen and (min-width: 992px) {
  .navbar {
    height: 7vh;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 10vh;
  }
}

.navlink {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: rgba(50,50,50);
}

.navlink:hover {
  color: rgba(133,207,218)
}

.active {
  color: rgba(133,207,218)
}

/* mobile navbar below */
.mobile-navbar {
  /* display: none; */
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  border: solid;
  background-color: white;
  z-index: 1;
}

.mobile-navbar i {
  margin-right: 25px;
  padding: 5px;
}

.navlink {
  margin-left: 0;
  padding: 5px;
}