@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 25px;
  grid-template-columns: 450px 450px;
  grid-template-rows: 275px 275px;
  position: relative;
  margin-top: 200px;
  height: 100vh;
  width: 100vw;
}

.grid-container p:first-child {
  font-family: "Work Sans", sans-serif;
  font-size: 10rem;
  font-weight: 600;
  margin-top: -250px;
  margin-left: 575px;
  color:#B7A196
}

.grid-container span {
  color: rgba(133,207,218)
}