@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 75vw;
  margin: 0 auto;
  /* margin-top: -5em; */
}

#project-id {
  font-family: "Work Sans", sans-serif;
  font-size: 10rem;
  font-weight: 600;
  color: rgba(133,207,218);
  margin-top: 200px;
  margin-right: 200px;
  text-align: right;
}

#project-id span {
  /* color: rgba(133,207,218); */
  color: #B7A196;
}

.details-container img {
  height: 450px;
  width: 650px;
  padding: 50px;
}

.details {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: rgba(50,50,50);
  line-height: normal;
}